/*!
 * Minify by http://www.MinifyWeb.com/
 */
.main-menu{display:none}.main-menu-mobile{display:block;height:auto;width:100%;float:left}nav{width:100%;height:70px;display:block;float:left}nav
a{width:41%}.is--showing{float:none}nav
img{width:80%;margin:10px}.main-menu-mobile
i{display:block;color:#fff;text-align:right;margin-top:22px;margin-right:20px;font-size:5vw;float:right;width:50%}.content-menu-mobile
li{display:block;float:left;width:100%;color:#fff;font-size:20px}.content-menu-mobile li
a{float:unset}.main-menu-mobile
li{float:right;text-align:center;width:100%;color:#fff;font-size:20px;margin:auto;padding-top:20px;padding-bottom:20px}.main-menu-mobile
ul{float:right;text-align:center;width:100%}.slider
article{width:60%;top:40%;font-size:14px;margin-left:5%}.pictures-slider
img{height:100vh;overflow-y:all}.grupo-entrada input[type="submit"]{width:20%;font-size:1.5vw}.photos-gallery ul
li{width:33.33%;float:left}.container-gallery .banner li
article{top:50%;left:45%;font-size:18px}.wrapper .photos-gallery
img{-webkit-filter:blur(0px)}.content-footer-mobile{display:block;float:left;width:100%}.content-footer-mobile
li{float:left;width:33.33%;text-align:center;margin:20px
0;font-size:20px}footer a,
footer
p{color:#fff;text-decoration:none;font-size:14px}.layout-centro
.formulario{width:50%;float:left}.layout-centro .extra-info{width:50%;float:right}.content-about{width:30%}.content-about
article{font-size:1.7vw}.content-contact{margin-top:3%}.content-contact
h1{margin-left:8%;font-size:18px}.content-contact
article{margin-top:3.5%;font-size:16px}.content-contact
article{font-size:16px;margin-top:3%;margin-left:8%;width:70%}.contact-page .layout-centro{margin-top:23%}.layout-centro .extra-info
li{font-size:2vw}.layout-centro .extra-info
a{color:#fff;text-decoration:none;padding:40px}.formulario .grupo-entrada{font-size:16px}.grupo-entrada input,
.grupo-entrada
textarea{width:95%;margin-bottom:10%}.grupo-entrada
textarea{height:100px}